
.secCat{

  
    margin:10rem auto;
}

.secCat h2{
    text-align: center;
    text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 3rem;
color: #E16120;
}
.secCat ul{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
}


@media (min-width:768px){
    .secCat ul{

      
        gap:2rem;
    }


}