
.categoryCard{
    border-radius:50%;
 
    height:15rem;
    width:15rem;
    position: relative;
    transition: all 0.4s;
  overflow: hidden;
}
.categoryCard:hover{
    transform: translateY(-2rem);
}
.categoryCard img{
    width:100%;
    height: 100%;;
}
.categoryCard h3{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.471);
    width:100%;

    text-align:center;
}