@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.mainHeader{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.492) 0px 3px 8px;
 
z-index: 5;
position:sticky;
top:0;
left:0;
}


.logo{
    color:#E16120;
    font-size: 2.6rem;
    font-family: 'Dancing Script', cursive;
    
}

.nav a:link,
.nav a:visited
{
    text-transform: capitalize;
    padding:0.3rem 1rem;
    font-size: 1.6rem;
    border:2px solid #E16120;
    color:#E16120;
    cursor: pointer;
    transition: all 0.5s;
   
}

.nav a:hover,
.nav a:active{
color:#fff;
background-color: #E16120;
}



@media (min-width:768px){
    .logo{
    
        font-size: 3.5rem;
    }
    .nav ul{
  flex-direction:row;
  gap:2rem;
    }
    .mainHeader{
     
        padding:0.5rem 5rem;

    }

}