
.header{
    background-image: url("../../public/imgs/pexels-ella-olsson-1640777.jpg");

    background-position: center;
    background-size: cover;
  height: 95vh;

  display: flex;
  justify-content: center;
  align-items: center;

    
}

