body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
ul{
  list-style: none;
}

section{
  width:95%;
  margin-inline:auto;

}

.heading-secondary{
  text-transform: capitalize;
  text-align: center;

  color:#E16120;
  margin:1rem 0;

  font-size: 3rem;
  margin-bottom: 3rem;
color: #E16120;

}

button{
  background-color: transparent;
  border:none;
  cursor: pointer;
}

.btn{
  display: inline-block;

 margin-top:1.5rem;
 border: 2px solid #E16120;
 color:#E16120;
 padding:0.3rem 2rem;
 font-size: 1.6rem;
 margin-right:0;

transition: all 0.4s;


}


.btn:hover{
  color:white;
  background-color: #E16120;
  }

  a{
    text-decoration: none;
    cursor: pointer;
  }
  

  .error{
    color:rgb(102, 98, 98);
    text-align: center;
    text-transform:capitalize;
    font-size: 1.6rem;
  }